@keyframes button-fill {
    from { background-position: 100%; color: rgb(60, 62, 64); }
    to { background-position: 0%; color: rgb(233, 239, 247); }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

* {
    -webkit-tap-highlight-color: transparent;
}

.h5p-personality-quiz {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(60, 62, 64);
    border: none;
    text-transform: none;
}

p.h5p-personality-quiz {
    margin: 0;
    color: rgb(60, 62, 64);
    font-size: 1.5rem;
}

h2.h5p-personality-quiz {
    margin: 0;
}

button.h5p-personality-quiz {
    font-size: 2rem;
}

.h5p-personality-quiz.container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.h5p-personality-quiz .button {
    background: rgb(233, 239, 247);
    color: rgb(60, 62, 64);
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.h5p-personality-quiz .background {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.h5p-personality-quiz .button:focus {
    outline: none;
}

.h5p-personality-quiz .fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
}

.h5p-personality-quiz .fade-out {
    animation-name: fade-out;
    animation-duration: 1s;
}

.h5p-personality-quiz .button-animate {
    animation-duration: 0.9s;
    animation-name: button-fill;
    animation-fill-mode: forwards;
}

.h5p-personality-quiz .slides {
    height: 100%;
}

.h5p-personality-quiz .slide {
    height: 100%;
    /* min-height: 320px; */
}

.h5p-personality-quiz .title-card {
    text-align: center;
    min-height: 320px;
}

.h5p-personality-quiz .title-card-image {
    max-width: 100%;
    height: auto;
}

.h5p-personality-quiz .title {
    position: absolute;
    top: 0;
    width: 100%;
    color: rgb(60, 62, 64);
    background-color: rgba(233, 239, 247, 0.8);
    padding: 1rem 0;
    margin: 0;
    text-align: center;
}

.h5p-personality-quiz .start-button-wrapper {
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
}

.h5p-personality-quiz .quiz {
    height: 100%;
    padding-top: 3.5rem;
}

.h5p-personality-quiz.progressbar {
    width: calc(100% + 2px);
    background: rgb(60, 62, 64);
    color: white;
    padding: 0.5rem 0;
    position: absolute;
    top: 0;
    left: -1px;
}

.h5p-personality-quiz .progress-text {
    color: white;
    margin-left: 1rem;
}

.h5p-personality-quiz .question {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0.5rem;
    width: 100%;
}

.h5p-personality-quiz.question-text {
    margin: 2rem;
}

.h5p-personality-quiz .question-image {
    width: 75%;
}

.h5p-personality-quiz .answers {
    margin: 0 auto;
    list-style: none;
    width: 95%;
    text-align: center;
    height: 100%;
    padding: 0;
}

.h5p-personality-quiz .answer {
    margin: 1rem auto;
    width: 80%;
    cursor: pointer;
}

.h5p-personality-quiz .answers-wrapper {
    height: 100%;
}

.h5p-personality-quiz .answer-container {
    width: calc(50% - 1rem);
    display: inline-block;
    float: left;
    margin: 0.5rem;
    cursor: pointer;
}


@media (min-width: 600px) {
    .h5p-personality-quiz .answer-container {
        width: calc(33% - 1rem);
        display: inline-block;
        float: left;
        margin: 0.5rem;
        cursor: pointer;
    }
}

.h5p-personality-quiz .answer-image {
    border-radius: 5px 5px 0 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 12rem;
}

.h5p-personality-quiz .answer-button {
    border-radius: 0 0 5px 5px;
    padding: 0.5rem;
    margin: 0;
}

.h5p-personality-quiz .result-image {
    width: 100%;
    height: auto;
}

.h5p-personality-quiz .result {
    padding: 1rem;
}

.h5p-personality-quiz .personality-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1rem;
}

.h5p-personality-quiz .personality {
    color: rgb(60, 62, 64);
    width: 80%;
    padding: 1rem;
    background-color: rgba(233, 239, 247, 0.8);
    margin: 1rem auto;
    border-radius: 5px;
}

.h5p-personality-quiz .personality h2 {
    margin: 0;
    padding: 0;
    color: rgb(60, 62, 64);
}

.h5p-personality-quiz .retake-wrapper {
    position: absolute;
    bottom: 10%;
    padding: 1rem;
    width: 100%;
    text-align: center;
}


.h5p-personality-quiz .wheel-container {
    width: 100%;
    height: 100%;
    background-color: white;
}

.h5p-personality-quiz .wheel-container {
    text-align: center;
    z-index: 150;
}
